Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/models.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/models.py
  backend/src/migrations/env.py
  backend/src/migrations/versions/2024_07_21_09_35_2bcc2a7dae9f_.py
  backend/src/migrations/versions/2024_08_05_21_14_c1c6ea23f7a5_.py
  backend/src/migrations/versions/2024_08_05_21_21_cda4ac6fa060_.py
  backend/src/migrations/versions/2024_08_06_07_49_e36bf0625d1e_.py
  vercel.json
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  .github/workflows/rdme-openapi.yml
Due: none

feat: ✨ Analytics
  backend/src/apps/ms/albums/models.py
  backend/src/apps/ms/albums/schemas.py
  backend/src/apps/ms/genres/schemas.py
  backend/src/apps/ms/subgenres/schemas.py
  backend/src/core/api/v1.py
  bun.lockb
  drizzle.config.ts
  package.json
  src/lib/api/soundcharts/client/schemas.gen.ts
  src/lib/api/soundcharts/client/services.gen.ts
Due: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/apps/ms/artists/schemas.py
  bun.lockb
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  bun.lockb
Due: none

feat: ✨ Analytics
  .vscode/settings.json
  backend/src/apps/ms/genres/schemas.py
  backend/src/apps/ms/subgenres/schemas.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/apps/ms/genres/schemas.py
  backend/src/apps/ms/subgenres/schemas.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/core/api/v1.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/apps/ms/artists/models.py
  backend/src/migrations/versions/2024_08_08_14_19_6254cca2aae7_.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/apps/ms/artists/crud.py
  backend/src/apps/ms/artists/routers/__init__.py
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/artists/tests/__init__.py
  backend/src/apps/ms/artists/tests/test_v1.py
  backend/src/apps/ms/tracks/crud.py
  backend/src/apps/ms/tracks/routers/__init__.py
  backend/src/apps/ms/tracks/routers/v1.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/apps/blog/__init__.py
  backend/src/apps/blog/posts/__init__.py
  backend/src/apps/blog/posts/crud.py
  backend/src/apps/blog/posts/management/__init__.py
  backend/src/apps/blog/posts/management/commands/__init__.py
  backend/src/apps/blog/posts/management/commands/create_first_post.py
  backend/src/apps/blog/posts/models.py
  backend/src/apps/blog/posts/routers/__init__.py
  backend/src/apps/blog/posts/routers/v1.py
  backend/src/apps/blog/posts/schemas.py
  backend/src/apps/blog/posts/tests/__init__.py
  backend/src/apps/blog/posts/tests/test_v1.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/core/db/__init__.py
  backend/src/core/setup.py
  backend/tests/test_main.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/apps/ms/artists/models.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/migrations/versions/2024_08_08_18_02_1912981ceef1_.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  .eslintignore
  src/lib/api/ms/client/index.ts
  src/lib/api/ms/client/schemas.gen.ts
  src/lib/api/ms/client/services.gen.ts
  src/lib/api/ms/client/types.gen.ts
  src/lib/api/v1.test.ts
  src/routes/(main)/profile/+page.server.ts
  src/routes/(main)/profile2/+page.server.ts
  src/routes/(website)/[slug]/+page.svelte
  src/routes/(website)/[slug]/+page.ts
  src/routes/(website)/[slug]/about/+page.svelte
  src/routes/(website)/[slug]/music/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Analytics
  src/routes/(main)/profile/+page.server.ts
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Analytics
  .ruff.toml
  .vscode/settings.json
  backend/src/apps/ms/artists/models.py
  bun.lockb
  package.json
  src/lib/schema.ts
  src/routes/(main)/profile/+page.server.ts
  src/routes/(main)/profile/+page.svelte
  src/routes/(main)/profile2/+page.server.ts
  src/routes/(main)/profile2/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

feat: ✨ Analytics
  backend/src/apps/ms/artists/routers/__init__.py
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/core/api/v1.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  backend/poetry.lock
  backend/pyproject.toml
Due: none

chore: 🔧 Refactor
  backend/requirements.txt
Due: none

chore: 🔧 Refactor
  backend/src/apps/ms/artists/schemas.py
  backend/src/apps/ms/genres/schemas.py
  backend/src/apps/ms/subgenres/schemas.py
  backend/src/apps/ms/tracks/schemas.py
  backend/src/core/api/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/core/api/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/models.py
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/artists/schemas.py
  backend/src/core/api/v1.py
  backend/src/core/common/models.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/genres/schemas.py
  backend/src/apps/ms/subgenres/schemas.py
  backend/src/apps/ms/tracks/schemas.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  Dockerfile
  backend/src/apps/ms/artists/schemas.py
  docker-compose.yml
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/Dockerfile
Due: none

chore: 🔧 Refactor
  Dockerfile
  backend/Dockerfile
  docker-compose.yml
Due: none

chore: 🔧 Refactor
  backend/src/apps/ms/artists/models.py
  backend/src/apps/ms/artists/schemas.py
  backend/src/core/api/v1.py
Due: poetry --directory ./backend run black

Path conditions:
  prettier --write --list-different: any of: **/*.ts
  prettier --check: any of: **/*.ts
  eslint: any of: **/*.ts
  poetry --directory ./backend run black: any of: backend/**/*.py
