Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

.lintstagedrc:

{
	"**/*.ts": ["prettier --write --list-different", "prettier --check", "eslint"],
	"backend/**/*.py": ["poetry --directory ./backend run black"]
}

feat: ✨ Dockerize the application.
  docker-compose.yml
  src/routes/(main)/+layout.ts
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Dockerize the application.
  backend/src/core/config.py
  docker-compose.yml
Due: poetry --directory ./backend run black

feat: ✨ Dockerize the application.
  docker-compose.yml
Due: none

feat: ✨ Dockerize the application.
  .env.example
  backend/.env.example
  docker-compose.yml
Due: none

feat: ✨ Dockerize the application.
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

feat: ✨ Dockerize the application.
  .dockerignore
  docker-compose.yml
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/lib/components/Header.svelte
Due: none

feat: ✨ Add Storybook component stories.
  .storybook/preview.ts
  src/app.css
  src/lib/components/ProfileForm.stories.svelte
  src/lib/components/ProfileForm.svelte
  src/lib/components/ui/button/button.stories.svelte
  src/routes/(main)/+layout.svelte
  src/routes/(main)/main.css
  src/routes/(website)/[slug]/+layout.svelte
  src/routes/(website)/[slug]/website.css
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/sign-in/+page.svelte
  src/routes/sign-up/+page.svelte
Due: none

chore: 🔧 Refactor
  src/routes/(website)/[slug]/+layout.svelte
Due: none

chore: 🔧 Refactor
  bun.lockb
  package.json
  src/app.css
  src/lib/components/blocks/create-crud/create-crud.svelte
  src/routes/(auth)/+layout.svelte
  src/routes/(auth)/sign-in/+page.svelte
  src/routes/(auth)/sign-up/+page.svelte
  src/routes/(website)/[slug]/+error.svelte
  src/routes/(website)/[slug]/+layout.server.ts
  src/routes/+error.svelte
  src/routes/+layout.svelte
  src/routes/sign-in/+page.svelte
  src/routes/sign-up/+page.svelte
  tailwind.config.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/(auth)/+layout.svelte
  src/routes/+layout.server.ts
  tailwind.config.ts
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Refactor UI
  src/routes/+layout.svelte
  src/routes/GitHubRibbon.svelte
Due: none

feat: ✨ Refactor UI
  src/routes/+layout.svelte
  src/routes/GitHubCorner.svelte
Due: none

feat: ✨ Refactor UI
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: none

chore: 🔧 Refactor
  bun.lockb
  package.json
  src/app.css
  src/routes/(main)/pricing/+page.svelte
  tailwind.config.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/(main)/dashboard/+page.svelte
  src/routes/+page.svelte
Due: none

chore: 🔧 Refactor
  src/lib/components/Header.svelte
  src/lib/components/blocks/create-crud/create-crud.svelte
Due: none

chore: 🔧 Refactor
  bun.lockb
  src/routes/+layout.svelte
Due: none

chore: 🔧 Refactor
  bun.lockb
  package.json
  src/routes/+error.svelte
Due: none

chore: 🔧 Refactor
  bun.lockb
  package.json
Due: none

chore: 🔧 Refactor
  bun.lockb
  src/app.css
  tailwind.config.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/+page.svelte
Due: none

chore: 🔧 Refactor
  src/routes/+error.svelte
Due: none

chore: 🔧 Refactor
  src/lib/components/blocks/application/(components)/album-artwork.svelte
  src/lib/components/blocks/application/(components)/index.ts
  src/lib/components/blocks/application/(components)/menu.svelte
  src/lib/components/blocks/application/(components)/podcast-empty-placeholder.svelte
  src/lib/components/blocks/application/(components)/sidebar.svelte
  src/lib/components/blocks/application/(data)/albums.ts
  src/lib/components/blocks/application/(data)/playlists.ts
  src/lib/components/blocks/application/application.svelte
  src/routes/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  bun.lockb
  package.json
  src/lib/components/blocks/application/(components)/menu.svelte
  src/lib/components/blocks/application/application.svelte
  src/routes/(main)/dashboard/+page.svelte
Due: none

chore: 🔧 Refactor
  bun.lockb
  src/lib/components/ConvertKit.svelte
  src/lib/components/Dashboard.svelte
  src/lib/components/GitHubCorner.svelte
  src/lib/components/Header.test.ts
  src/lib/components/NewsletterCard.svelte
  src/lib/components/WelcomeCard.svelte
  src/lib/components/blocks/application/(components)/menu.svelte
  src/lib/components/blocks/application/application.svelte
  src/routes/(main)/dashboard/+page.svelte
  src/routes/+error.svelte
  src/routes/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Refactor UI
  src/lib/components/Application.svelte
  src/lib/components/Dashboard.svelte
  src/lib/components/blocks/application/(components)/menu.svelte
  src/lib/components/blocks/application/MusicTabs.svelte
Due: none

feat: ✨ Refactor UI
  src-tauri/tauri.conf.json
  src/routes/+layout.svelte
Due: none

feat: ✨ Refactor UI
  src/routes/+layout.svelte
Due: none

feat: ✨ Refactor UI
  backend/pyproject.toml
  backend/src/core/config.py
  src/hooks.server.ts
  src/lib/components/Header.svelte
  src/lib/components/blocks/application/(components)/menu.svelte
  src/lib/components/blocks/application/Dashboard.svelte
  src/lib/components/blocks/application/Music.svelte
  src/lib/components/blocks/application/application.svelte
  src/routes/(main)/dashboard/+page.svelte
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

feat: ✨ Refactor UI
  backend/src/core/setup.py
  src/hooks.client.ts
  src/hooks.server.ts
Due: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

feat: ✨ Refactor UI
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

feat: ✨ Refactor UI
  src/hooks.server.ts
  src/lib/api/v1.test.ts
  src/lib/components/(data)/albums.ts
  src/lib/components/(data)/playlists.ts
  src/lib/components/Aside.svelte
  src/lib/components/Breadcrumbs.svelte
  src/lib/components/CreateNewRelease.svelte
  src/lib/components/Dashboard.svelte
  src/lib/components/Footer.svelte
  src/lib/components/Header-legacy.svelte
  src/lib/components/Header.svelte
  src/lib/components/MadeWithLove.svelte
  src/lib/components/Main.svelte
  src/lib/components/Menu.svelte
  src/lib/components/Music.svelte
  src/lib/components/MusicTabs.svelte
  src/lib/components/Navbar.svelte
  src/lib/components/OrderDetails.svelte
  src/lib/components/OrderTabs.svelte
  src/lib/components/OrdersThisMonth.svelte
  src/lib/components/OrdersThisWeek.svelte
  src/lib/components/Sidebar.svelte
  src/lib/components/StarOnGitHub.svelte
  src/lib/components/album-artwork.svelte
  src/lib/components/blocks/application/(components)/index.ts
  src/lib/components/blocks/application/Dashboard.svelte
  src/lib/components/blocks/application/Music.svelte
  src/lib/components/podcast-empty-placeholder.svelte
  src/routes/(main)/dashboard/+page.svelte
  src/routes/(main)/profile/profile-form.svelte
  src/routes/(website)/[slug]/+layout.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  svelte.config.js
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Refactor UI
  src/lib/components/Dashboard.svelte
  src/lib/components/Main.svelte
  src/lib/components/Navbar.svelte
  src/lib/components/NewsletterCard.svelte
  src/lib/components/WelcomeCard.svelte
  src/routes/+page.svelte
Due: none

feat: ✨ Refactor UI
  src/lib/components/Menu.svelte
Due: none
