Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/releases/models.py
  backend/src/apps/ms/releases/schemas.py
  backend/src/core/api/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/routers/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/artists/schemas.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  .dockerignore
  backend/src/apps/ms/albums/models.py
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/genres/models.py
  backend/src/apps/ms/genres/schemas.py
  backend/src/apps/ms/models.py
  backend/src/apps/ms/schemas.py
  backend/src/apps/ms/subgenres/models.py
  backend/src/apps/ms/subgenres/schemas.py
  backend/src/apps/ms/tracks/models.py
  backend/src/core/common/crud.py
  backend/src/core/common/models.py
  backend/src/core/common/schemas.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/models.py
  backend/src/apps/ms/artists/routers/__init__.py
  backend/src/apps/ms/artists/schemas.py
  backend/src/apps/ms/models.py
  backend/src/apps/ms/releases/models.py
  backend/src/apps/ms/releases/schemas.py
  backend/src/apps/ms/router.py
  backend/src/apps/ms/schemas.py
  backend/src/apps/ms/tracks/models.py
  backend/src/apps/ms/tracks/schemas.py
Due: poetry --directory ./backend run black

feat: ✨ Analytics
  .dockerignore
  backend/src/apps/ms/albums/models.py
  backend/src/apps/ms/albums/schemas.py
  backend/src/apps/ms/artists/models.py
  backend/src/apps/ms/artists/routers/__init__.py
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/artists/schemas.py
  backend/src/apps/ms/genres/models.py
  backend/src/apps/ms/genres/schemas.py
  backend/src/apps/ms/models.py
  backend/src/apps/ms/releases/models.py
  backend/src/apps/ms/releases/schemas.py
  backend/src/apps/ms/schemas.py
  backend/src/apps/ms/subgenres/models.py
  backend/src/apps/ms/subgenres/schemas.py
  backend/src/apps/ms/tracks/models.py
  backend/src/apps/ms/tracks/schemas.py
  backend/src/core/common/crud.py
  backend/src/core/common/models.py
  backend/src/core/common/schemas.py
Due: poetry --directory ./backend run black

feat: ✨ refactor album schemas and add Album model to improve organization and structure
  backend/src/apps/ms/albums/schemas.py
  backend/src/apps/ms/models.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  .gitignore
  backend/poetry.lock
  backend/pyproject.toml
Due: none

feat: ✨ create new model and schemas for Label based on Genres model
  backend/src/apps/ms/label/models.py
  backend/src/apps/ms/label/schemas.py
Due: poetry --directory ./backend run black

refactor: ♻️ rename Label to Labels in models and schemas
  backend/src/apps/ms/label/models.py
Due: poetry --directory ./backend run black

feat: ✨ create new Labels model and schemas based on Genres model
  backend/src/apps/ms/labels/models.py
  backend/src/apps/ms/labels/schemas.py
Due: poetry --directory ./backend run black

refactor: ♻️ Rename LabelContentBase to LabelProfileBase
  backend/src/apps/ms/labels/models.py
  backend/src/apps/ms/labels/schemas.py
Due: poetry --directory ./backend run black

refactor: ♻️ remove unused label models and schemas files
  backend/src/apps/ms/label/models.py
  backend/src/apps/ms/label/schemas.py
Due: poetry --directory ./backend run black

feat: ✨ add email, biography, and established year to LabelProfileBase and establish relationships with Genres and Subgenres
  backend/src/apps/ms/labels/models.py
Due: poetry --directory ./backend run black

feat: ✨ update LabelProfileBase model to include email, biography, established_year, and relationships with Genres and Subgenres
  backend/src/apps/ms/labels/models.py
Due: poetry --directory ./backend run black

feat: ✨ add comprehensive AI context file for code understanding and generation
  ai.context
Due: none

feat: ✨ create structured output file for codebase overview
  ai.code
Due: none

feat: ✨ Update AI context and rename ai.code to ai.files for improved project understanding and structure overview
  ai.context
  ai.files
Due: none

refactor: ♻️ Improve documentation and structure of backend and frontend components, enhance model relationships in labels module
  ai.code
  backend/src/apps/ms/labels/models.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  ai.code
  ai.files
  backend/src/apps/ms/models.py
  backend/src/apps/ms/schemas.py
  backend/src/core/api/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/core/api/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/labels/models.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  bun.lockb
  package.json
  src/lib/api/ms/client
  src/lib/api/ms/client/index.ts
  src/lib/api/ms/client/schemas.gen.ts
  src/lib/api/ms/client/services.gen.ts
  src/lib/api/ms/client/types.gen.ts
  src/lib/api/soundcharts/client/index.ts
  src/lib/api/soundcharts/client/schemas.gen.ts
  src/lib/api/soundcharts/client/services.gen.ts
  src/lib/api/soundcharts/client/types.gen.ts
  tsconfig.json
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/api/ms/client
  src/lib/api/ms/client/index.ts
  src/lib/api/ms/client/schemas.gen.ts
  src/lib/api/ms/client/services.gen.ts
  src/lib/api/ms/client/types.gen.ts
  src/lib/api/soundcharts/client/index.ts
  src/lib/api/soundcharts/client/schemas.gen.ts
  src/lib/api/soundcharts/client/services.gen.ts
  src/lib/api/soundcharts/client/types.gen.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  package.json
Due: none

chore: 🔧 Refactor
  .dockerignore
  package.json
  svelte.config.js
Due: none

chore: 🔧 Refactor
  bun.lockb
  package.json
Due: none

chore: 🔧 Refactor
  .dockerignore
Due: none

chore: 🔧 Refactor
  svelte.config.js
Due: none

Path conditions:
  prettier --write --list-different: any of: **/*.ts
  prettier --check: any of: **/*.ts
  eslint: any of: **/*.ts
  poetry --directory ./backend run black: any of: backend/**/*.py
