Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

.lintstagedrc:

{
	"**/*.ts": ["prettier --write --list-different", "prettier --check", "eslint"],
	"backend/**/*.py": ["poetry --directory ./backend run black"]
}

chore(release): 🚀 0.0.3
  backend/.env.example
  backend/pyproject.toml
  package.json
  src-tauri/Cargo.toml
Due: none

chore: 🔧 Refactor
  backend/src/core/config.py
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/.env.example
  backend/src/core/config.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/.env.example
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

chore(release): 🚀 0.0.4
  backend/.env.example
  backend/pyproject.toml
Due: none

chore: 🔧 Refactor
  package.json
  src-tauri/Cargo.toml
Due: none

chore: 🔧 Refactor
  backend/src/apps/admin/tasks/tests/test_v1.py
  backend/src/apps/admin/users/tests/test_v1.py
  backend/src/apps/auth/tests/test_v1.py
  backend/src/apps/blog/posts/tests/test_v1.py
  backend/src/apps/system/rate_limits/tests/test_v1.py
  backend/src/apps/system/tiers/tests/test_v1.py
  backend/src/core/api/__init__.py
  backend/src/core/security.py
  backend/tests/helper.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/models.py
  backend/src/apps/ms/artists/routers/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  src/lib/logger.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/logger.ts
  vite.config.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/logger.ts
  src/routes/(main)/+layout.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/logger.ts
  src/routes/(main)/+layout.server.ts
  src/routes/(main)/+layout.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/+layout.svelte
Due: none

chore: 🔧 Refactor
  .lintstagedrc
Due: none

chore: 🔧 Refactor
  src/hooks.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/hooks.client.ts
  src/hooks.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  package.json
Due: none

chore: 🔧 Refactor
  src/hooks.client.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  vite.config.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/hooks.client.ts
  src/hooks.server.ts
  src/lib/logger.ts
  src/routes/(main)/+layout.server.ts
  src/routes/+layout.svelte
  vite.config.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  .lintstagedrc
  .lintstagedrc.js
Due: none

chore: 🔧 Refactor
  .lintstagedrc.js
Due: none

chore: 🔧 Refactor
  lint-staged.config.js
Due: none

chore: 🔧 Refactor
  bun.lockb
  package.json
Due: none
