Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

.lintstagedrc:

{
	"**/*.ts": ["prettier --write --list-different", "prettier --check", "eslint"],
	"backend/**/*.py": ["poetry --directory ./backend run black"]
}

chore: 🔧 Refactor
  src/lib/types/docs.ts
  src/lib/utils.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/hooks.server.ts
  src/routes/(main)/settings/+layout.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/(main)/profile/+page.svelte
  src/routes/(main)/profile/profile-form.svelte
  src/routes/(main)/settings/+page.server.ts
  src/routes/(main)/settings/+page.svelte
  src/routes/(main)/settings/profile-form.svelte
  src/routes/(main)/settings/profile-form2.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/(main)/settings/a.svelte
  src/routes/(main)/settings/profile-form.svelte
Due: none

chore: 🔧 Refactor
  src/routes/(main)/settings/profile-form.svelte
Due: none

chore: 🔧 Refactor
  .prettierignore
  backend/src/apps/system/utils/routers/v1.py
  eslint.config.js
  lint-staged.config.js
  src/routes/(main)/+layout.svelte
  src/routes/(main)/Header.svelte
  src/routes/(main)/Header.test.ts
Due: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

chore: 🔧 Refactor
  package.json
Due: none

chore: 🔧 Refactor
  backend/src/apps/ms/artists/routers/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  src/lib/api/v1.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  .github/workflows/neon_workflow.yml
  package.json
Due: none

chore: 🔧 Refactor
  backend/src/migrations/env.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  src/lib/components/Header.svelte
  src/lib/components/Header.test.ts
  src/lib/components/ProfileForm.svelte
  src/lib/components/ui/button/button.stories.svelte
  src/routes/(main)/+layout.svelte
  src/routes/(main)/settings/+page.svelte
  src/routes/(main)/settings/a.svelte
  src/stories/Button.stories.ts
  src/stories/Button.svelte
  src/stories/Header.stories.ts
  src/stories/Header.svelte
  src/stories/Page.stories.ts
  src/stories/Page.svelte
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/apps/system/tiers/management/commands/create_first_tier.py
  backend/src/core/api/v1.py
  backend/src/core/db/__init__.py
  backend/tests/test_main.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/core/db/__init__.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/core/api/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/requirements.txt
Due: none

chore: 🔧 Refactor
  backend/poetry.lock
  backend/pyproject.toml
Due: none

feat: ✨ Add Admin interface.
  backend/src/apps/ms/genres/models.py
  backend/src/apps/ms/genres/schemas.py
  backend/src/apps/ms/subgenres/models.py
  backend/src/apps/ms/subgenres/schemas.py
  backend/src/apps/ms/tracks/models.py
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

feat: ✨ Add Admin interface.
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

feat: ✨ Add Admin interface.
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: none

feat: ✨ Add Admin interface.
  backend/src/apps/ms/tracks/models.py
Due: poetry --directory ./backend run black

feat: ✨ Add Admin interface.
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/apps/ms/tracks/models.py
Due: poetry --directory ./backend run black

Update README.md
  README.md
Due: none

feat: ✨ Add stylelint.
  .dockerignore
  .stylelintrc.json
  backend/Dockerfile
  backend/entrypoint.sh
  backend/src/core/db/Dockerfile
  bun.lockb
  docker-compose.yml
  package-lock.json
  package.json
Due: none

feat: ✨ Dockerize the application.
  .gitignore
  Dockerfile
  backend/.dockerignore
  backend/.python-version
  backend/Dockerfile
  bun.lockb
  docker-compose.yml
  package-lock.json
  package.json
  src/hooks.client.ts
  src/hooks.server.ts
  src/lib/api/v1.ts
  src/routes/(main)/+layout.server.ts
  src/routes/(main)/+layout.ts
  src/routes/+layout.svelte
  src/routes/api/uploadthing/+server.ts
  svelte.config.js
  vite.config.ts
Due: prettier --write --list-different, prettier --check, eslint
