Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

feat: ✨ Implement AI music brain.
  src/lib/components/ChatList.svelte
  src/lib/components/ChatMessage.svelte
  src/lib/components/ChatPanel.svelte
  src/lib/components/EmptyScreen.svelte
  src/lib/components/Viewport.svelte
  src/routes/(main)/brain/+page.svelte
Due: none

feat: ✨ Implement AI music brain.
  src/lib/components/Aside.svelte
  src/lib/components/AsideNavbarLower.svelte
  src/lib/components/PromptForm.svelte
  src/lib/components/StatusBar.svelte
Due: none

feat: ✨ Implement AI music brain.
  src/lib/chat.ts
  src/lib/components/ChatList.svelte
  src/lib/components/ChatMessage.svelte
  src/lib/components/EmptyScreen.svelte
  src/routes/(main)/brain/+page.svelte
  src/routes/api/chat/+page.server.ts
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Implement AI music brain.
  bun.lockb
  package.json
  src/lib/components/AudioPlayer.svelte
  src/lib/components/Header.svelte
  src/lib/components/NavHeader.svelte
  src/lib/components/UserMenu.svelte
  src/routes/(main)/+layout.svelte
  src/routes/(main)/brain/+page.svelte
  src/routes/+layout.svelte
Due: none

feat: ✨ Add audio player.
  src/lib/components/AudioControls.svelte
  src/lib/components/AudioPlayer.svelte
  src/lib/components/Chat.svelte
  src/lib/components/ChatPanel.svelte
  src/lib/components/Dashboard.svelte
  src/lib/components/Menu.svelte
  src/lib/components/StarOnGitHub.svelte
  src/lib/stores/ui.ts
  src/routes/+layout.svelte
  tailwind.config.ts
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Add audio player.
  src/lib/components/AudioPlayer.svelte
  src/lib/components/MenuView.svelte
  src/lib/components/StatusBar.svelte
  src/lib/components/ToggleLayoutOptions.svelte
  src/lib/stores/ui.ts
  src/routes/+layout.svelte
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Add audio player.
  src/lib/components/AsideNavbarLower.svelte
  src/lib/components/AudioPlayer.svelte
  tailwind.config.ts
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Add audio player.
  src/lib/components/AudioControls.svelte
  src/lib/components/AudioPlayer.svelte
  src/lib/components/Dashboard.svelte
  src/lib/components/StatusBar.svelte
  src/lib/stores/audio.ts
  src/lib/stores/ui.ts
  src/routes/(main)/+layout.svelte
  src/routes/+error.svelte
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Add audio player.
  src/lib/components/AudioPlayer.svelte
Due: none

feat: ✨ Refactor UI
  bun.lockb
  package.json
  src/lib/components/ChatList.svelte
  src/lib/components/ChatMessage.svelte
  src/lib/components/ChatPanel.svelte
  src/lib/components/Dashboard.svelte
  src/lib/components/PromptForm.svelte
  src/routes/(main)/+layout.svelte
  tailwind.config.ts
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Refactor UI
  bun.lockb
  src/lib/components/AsideNavbarLower.svelte
  src/lib/components/AudioPlayer.svelte
  src/lib/components/Breadcrumbs.svelte
  src/lib/components/StatusBar.svelte
  src/lib/components/ToggleLayoutOptions.svelte
  src/routes/(main)/+layout.svelte
  src/routes/+error.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: none

feat: ✨ Refactor UI
  src/routes/sign-in/+page.svelte
  src/routes/sign-up/+page.svelte
Due: none

feat: ✨ Refactor UI
  src/lib/components/AsideNavbarLower.svelte
Due: none

feat: ✨ Refactor UI
  src/lib/components/HomeCard.svelte
Due: none

feat: ✨ Refactor UI
  src/routes/+error.svelte
  src/routes/sign-in/+page.svelte
  src/routes/sign-up/+page.svelte
Due: none

feat: ✨ Refactor UI
  src/lib/components/AudioPlayer.svelte
Due: none

feat: ✨ Refactor UI
  src/lib/components/BrainQuickButton.svelte
  src/lib/components/ChatMessage.svelte
  src/lib/components/Header.svelte
  src/lib/components/Menu.svelte
  src/lib/components/SearchBar.svelte
Due: none

feat: ✨ Refactor UI
  src/lib/components/Header.svelte
Due: none

feat: ✨ Refactor UI
  src/lib/components/MadeWithLove.svelte
Due: none

feat: ✨ Refactor UI
  src/routes/(main)/brain/+layout.svelte
Due: none

feat: ✨ Refactor UI
  src/lib/components/AudioPlayer.svelte
  src/lib/components/HomeCard.svelte
  src/lib/components/LoginButton.svelte
  src/lib/components/MadeWithLove.svelte
  src/lib/components/Music.svelte
  src/lib/components/Sidebar.svelte
  src/lib/components/SidebarActions.svelte
  src/lib/components/SidebarFooter.svelte
  src/lib/components/SidebarItem.svelte
  src/lib/components/SidebarList.svelte
  src/lib/components/Sidenav.svelte
  src/lib/components/StatusBar.svelte
  src/lib/components/WelcomeCard.svelte
  src/routes/(main)/dashboard/+page.server.ts
  src/routes/(main)/dashboard/+page.svelte
  src/routes/+error.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Refactor UI
  src/lib/components/AudioPlayer.svelte
  src/routes/(main)/dashboard/+page.svelte
Due: none

Update README.md
  README.md
Due: none

feat: ✨ Add Cron, API clients, and refactor UI.
  .github/workflows/hey-api.yml
  bun.lockb
  openapi-ts.config.ts
  package.json
  response.json
  src/lib/api/soundcharts/client/index.ts
  src/lib/api/soundcharts/client/schemas.gen.ts
  src/lib/api/soundcharts/client/services.gen.ts
  src/lib/api/soundcharts/client/types.gen.ts
  src/lib/components/AudioPlayer.svelte
  src/lib/components/ChatMessage.svelte
  src/lib/components/MusicTabs.svelte
  src/lib/components/StatusBar.svelte
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/api/cron/+server.ts
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Add Cron, API clients, and refactor UI.
  src/routes/api/chat/+page.server.ts
  vercel.json
Due: prettier --write --list-different, prettier --check, eslint

feat: ✨ Add Cron, API clients, and refactor UI.
  .github/workflows/rdme-openapi.yml
  package.json
Due: none

feat: ✨ Add analytics.
  src/routes/api/cron/+server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  backend/src/apps/ms/artists/models.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/models.py
  backend/src/migrations/versions/2024_08_05_21_14_c1c6ea23f7a5_.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/models.py
  backend/src/migrations/versions/2024_08_05_21_21_cda4ac6fa060_.py
Due: poetry --directory ./backend run black

Path conditions:
  prettier --write --list-different: any of: **/*.ts
  prettier --check: any of: **/*.ts
  eslint: any of: **/*.ts
  poetry --directory ./backend run black: any of: backend/**/*.py
