Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

chore: 🔧 Add TanStack Query.
  src/lib/api.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Add TanStack Query.
  src/routes/(website)/a/[slug]/+page.ts
  src/routes/(website)/a/[slug]/a/+page.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Add TanStack Query.
  src/routes/(website)/a/[slug]/+page.svelte
  src/routes/(website)/a/[slug]/+page.ts
Due: prettier --write --list-different, prettier --check, eslint

test: 🚨 add api tests.
  src/lib/api.test.ts
  src/lib/api.ts
  test-results/.last-run.json
Due: prettier --write --list-different, prettier --check, eslint

test: 🚨 add logger tests.
  src/lib/api.test.ts
  src/lib/logger.test.ts
  src/lib/logger.ts
  test-results/.last-run.json
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/api/v1.test.ts
  src/lib/api/v1.ts
  src/lib/components/PageTransition.svelte
  src/routes/(website)/a/[slug]/+page.svelte
  src/routes/(website)/a/[slug]/+page.ts
  src/routes/(website)/a/[slug]/about/+page.svelte
  src/routes/(website)/a/[slug]/music/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/api/v1.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/(website)/a/[slug]/+page.svelte
Due: none

chore: 🔧 Refactor
  .github/workflows/rdme-openapi.yml
Due: none

chore: 🔧 Refactor
  src/lib/api/v1.test.ts
  src/lib/api/v1.ts
  src/lib/schema.ts
  src/routes/(main)/profile/+page.server.ts
  src/routes/(main)/profile/ProfileForm.svelte
  src/routes/(website)/a/[slug]/a/+page.ts
  src/routes/(website)/a/[slug]/about/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/(website)/a/[slug]/about/+page.svelte
  src/routes/(website)/a/[slug]/music/+page.svelte
Due: none

feat: ✨ Refactor API
  backend/src/apps/artists/crud.py
  backend/src/apps/artists/models.py
  backend/src/apps/artists/routers/__init__.py
  backend/src/apps/artists/routers/v1.py
  backend/src/apps/artists/schemas.py
  backend/src/apps/ms/tracks/routers/__init__.py
  backend/src/apps/tracks/crud.py
  backend/src/apps/tracks/models.py
  backend/src/apps/tracks/routers/__init__.py
  backend/src/apps/tracks/routers/v1.py
  backend/src/apps/tracks/schemas.py
Due: poetry --directory ./backend run black

feat: ✨ Refactor API
  backend/src/apps/ms/__init__.py
  backend/src/apps/ms/artists/crud.py
  backend/src/apps/ms/artists/models.py
  backend/src/apps/ms/artists/routers/__init__.py
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/artists/schemas.py
  backend/src/apps/ms/tracks/crud.py
  backend/src/apps/ms/tracks/models.py
  backend/src/apps/ms/tracks/routers/__init__.py
  backend/src/apps/ms/tracks/routers/v1.py
  backend/src/apps/ms/tracks/schemas.py
Due: poetry --directory ./backend run black

test: 🚨 fix tests.
  backend/src/apps/auth/tests/test_v1.py
  backend/src/apps/system/rate_limits/tests/test_v1.py
  backend/tests/helper.py
  package.json
Due: poetry --directory ./backend run black

test: 🚨 fix tests.
  backend/src/apps/ms/artists/models.py
  backend/src/apps/ms/tracks/models.py
Due: poetry --directory ./backend run black

test: 🚨 fix tests.
  backend/src/apps/ms/artists/routers/v1.py
Due: poetry --directory ./backend run black

feat: ✨ Refactor API
  backend/src/apps/ms/artists/routers/v1.py
Due: poetry --directory ./backend run black

feat: ✨ Refactor API
  backend/src/apps/ms/artists/models.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  src/routes/(main)/+page.svelte
Due: none

chore: 🔧 Refactor
  combined/combined_css.txt
  combined/combined_gitignore.txt
  combined/combined_html.txt
  combined/combined_js.txt
  combined/combined_json.txt
  combined/combined_jsx.txt
  combined/combined_md.txt
  combined/combined_npmrc.txt
  combined/combined_prettierignore.txt
  combined/combined_prettierrc.txt
  combined/combined_svelte.txt
  combined/combined_ts.txt
  combined/combined_tsx.txt
Due: none

chore: 🔧 Refactor
  package.json
Due: none

chore: 🔧 Refactor
  backend/alembic.ini
  package.json
Due: none

chore: 🔧 Add Alembic initial migration.
  backend/src/migrations/versions/2024_03_04_02_29_74c3710951d4_first_revision.py
  backend/src/migrations/versions/2024_07_21_09_35_2bcc2a7dae9f_.py
  package.json
Due: poetry --directory ./backend run black

feat: ✨ Overide for migrations to production using the envionmental variable DATABASE_URL.
  backend/src/migrations/env.py
Due: poetry --directory ./backend run black

Path conditions:
  prettier --write --list-different: any of: **/*.ts
  prettier --check: any of: **/*.ts
  eslint: any of: **/*.ts
  poetry --directory ./backend run black: any of: backend/**/*.py
