Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

chore: 🔧 Refactor
  src/routes/(main)/profile/+page.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/api/v1.ts
  src/routes/(main)/profile/+page.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/api/v1.ts
  src/routes/(main)/profile/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  bun.lockb
  package.json
  src/routes/(main)/profile/+page.svelte
Due: none

chore: 🔧 Refactor
  src/routes/(main)/profile/+page.server.ts
  src/routes/(main)/profile/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/api/v1.ts
  src/routes/(main)/profile/+page.server.ts
  src/routes/(website)/a/[slug]/+page.svelte
  src/routes/(website)/a/[slug]/+page.ts
  src/routes/(website)/a/[slug]/about/+page.svelte
  src/routes/(website)/a/[slug]/music/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  bun.lockb
  package.json
  src/routes/(main)/profile/+page.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  backend/src/apps/ms/artists/routers/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  .gitignore
  backend/poetry.lock
  backend/pyproject.toml
  combine_code_files.py
Due: none

chore: 🔧 Refactor
  .gitignore
  consolidate_code.py
Due: none

feat: ✨ Add account settings UI.
  backend/src/apps/ms/tracks/models.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  package.json
Due: none

chore: 🔧 Refactor
  .gitignore
  backend/src/apps/admin/tasks/routers/v1.py
  backend/src/apps/admin/tasks/schemas.py
  backend/src/apps/admin/users/crud.py
  backend/src/apps/admin/users/routers/v1.py
  backend/src/apps/auth/routers/v1.py
  backend/src/apps/blog/posts/crud.py
  backend/src/apps/blog/posts/routers/v1.py
  backend/src/apps/blog/posts/schemas.py
  backend/src/apps/system/rate_limits/models.py
  backend/src/apps/system/rate_limits/routers/v1.py
  backend/src/apps/system/tiers/crud.py
  backend/src/apps/system/tiers/routers/v1.py
  backend/src/core/api/dependencies.py
  backend/src/core/common/crud.py
  backend/src/core/common/models.py
  backend/src/core/db/session.py
  backend/src/core/exceptions/cache_exceptions.py
  backend/src/core/exceptions/http_exceptions.py
  backend/src/core/logger.py
  backend/src/core/middlewares/client_cache_middleware.py
  backend/src/core/utils/cache.py
  backend/src/core/utils/crud.py
  backend/src/core/utils/log.py
  backend/src/core/utils/paginated.py
  backend/src/core/utils/partial.py
  backend/src/core/utils/rate_limit.py
  bun.lockb
  drizzle/meta/_journal.json
  package.json
  scripts/consolidate-code.py
  scripts/sync-api.mjs
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  scripts/sync-api.mjs
Due: none

chore: 🔧 Refactor
  backend/src/core/utils/paginated.py
  scripts/sync-api.mjs
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/core/utils/paginated.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/migrations/env.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  bun.lockb
  src/routes/(main)/+layout.svelte
Due: none

chore: 🔧 Refactor
  src/lib/components/CommandPallete.svelte
  src/routes/(main)/+layout.svelte
Due: none

chore: 🔧 Refactor
  src/lib/components/CommandPallete.svelte
Due: none

chore: 🔧 Refactor
  src/routes/(main)/Header.svelte
  src/routes/(main)/pricing/+page.svelte
Due: none

chore: 🔧 Refactor
  src/routes/(main)/Header.svelte
Due: none

chore: 🔧 Refactor
  src/routes/+layout.svelte
Due: none

chore: 🔧 Refactor
  src/routes/(main)/settings/+layout.svelte
Due: none

chore: 🔧 Refactor
  src/hooks.client.ts
  src/hooks.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/routes/(main)/Header.svelte
  src/routes/(main)/settings/+layout.svelte
Due: none

chore: 🔧 Refactor
  src/lib/config/blocks.ts
  src/lib/images/acid-logo.png
  src/lib/images/svelte-logo.svg
  src/lib/images/svelte-welcome.png
  src/lib/images/svelte-welcome.webp
  src/lib/registry/colors.ts
  src/lib/registry/index.ts
  src/lib/registry/schema.ts
  src/lib/registry/styles.ts
  src/lib/registry/themes.ts
  src/lib/stores/config.ts
  src/lib/stores/index.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  bun.lockb
  package.json
  src/routes/(main)/profile/ProfileForm.svelte
  src/routes/(main)/settings/(components)/sidebar-nav.svelte
  src/routes/(main)/settings/appearance/appearance-form.svelte
  src/routes/(website)/a/[slug]/Modal.svelte
Due: none

chore: 🔧 Refactor
  src/routes/(website)/[slug]/+error.svelte
  src/routes/(website)/[slug]/+layout.server.ts
  src/routes/(website)/[slug]/+layout.svelte
  src/routes/(website)/[slug]/+page.svelte
  src/routes/(website)/[slug]/+page.ts
  src/routes/(website)/[slug]/Button.svelte
  src/routes/(website)/[slug]/Hamburger.svelte
  src/routes/(website)/[slug]/Modal.svelte
  src/routes/(website)/[slug]/NavBar.svelte
  src/routes/(website)/[slug]/NavRoutes.ts
  src/routes/(website)/[slug]/PageTransition.svelte
  src/routes/(website)/[slug]/Projects.ts
  src/routes/(website)/[slug]/Skills.ts
  src/routes/(website)/[slug]/Tooltip.svelte
  src/routes/(website)/[slug]/about/+page.svelte
  src/routes/(website)/[slug]/music/+page.svelte
  src/routes/(website)/[slug]/store.ts
  src/routes/(website)/[slug]/website.css
Due: prettier --write --list-different, prettier --check, eslint

Path conditions:
  prettier --write --list-different: any of: **/*.ts
  prettier --check: any of: **/*.ts
  eslint: any of: **/*.ts
  poetry --directory ./backend run black: any of: backend/**/*.py
