Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

chore: 🔧 Replace Black with Ruff.
  backend/src/apps/ms/artists/crud.py
Due: poetry --directory ./backend run black

chore: 🔧 Replace Black with Ruff.
  .lintstagedrc
Due: none

Update README.md
  README.md
Due: none

Update README.md
  backend/README.md
Due: none

chore: 🔧 Refactor
  .lintstagedrc
Due: none

chore: 🔧 Refactor
  src/hooks.client.ts
  src/lib/logger/logger.ts
  src/lib/server/uploadthing.ts
  src/routes/(main)/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

build(deps): 📦️ Fix dependencies.
  .gitignore
  bun.lockb
  package.json
  src/hooks.client.ts
Due: prettier --write --list-different, prettier --check, eslint

build(deps): 📦️ Fix dependencies.
  src/hooks.client.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/hooks.client.ts
Due: prettier --write --list-different, prettier --check, eslint

perf: ⚡️ Refactor
  backend/Procfile
Due: none

chore: 🔧 Refactor
  src/hooks.client.ts
  src/hooks.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/hooks.client.ts
  src/hooks.server.ts
  src/lib/logger.ts
  src/lib/server/uploadthing.ts
  src/routes/(main)/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/app.html
  src/routes/+layout.svelte
Due: none

chore: 🔧 Refactor
  src/routes/+layout.svelte
Due: none

chore: 🔧 Refactor
  src/lib/logger.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/hooks.client.ts
  src/lib/server/logger.ts
  src/lib/server/uploadthing.ts
  src/routes/(main)/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/server/logger.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/hooks.client.ts
  src/lib/logger.ts
  src/lib/server/uploadthing.ts
  src/routes/(main)/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

docs: 📚️ Refactor
  .github/workflows/rdme-openapi.yml
  backend/src/apps/ms/artists/routers/v1.py
  package.json
Due: poetry --directory ./backend run black

docs: 📚️ Refactor
  .changeset/thick-donkeys-brush.md
Due: none

docs: 📚️ Refactor
  src/hooks.client.ts
Due: prettier --write --list-different, prettier --check, eslint

docs: 📚️ Refactor
  src/hooks.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore(release): 🚀 0.0.2
  backend/.env.example
  backend/pyproject.toml
  backend/src/core/config.py
  backend/src/core/setup.py
  package.json
  src-tauri/Cargo.toml
Due: poetry --directory ./backend run black

Path conditions:
  prettier --write --list-different: any of: **/*.ts
  prettier --check: any of: **/*.ts
  eslint: any of: **/*.ts
  poetry --directory ./backend run black: any of: backend/**/*.py
