Repository epsilon-records/epsilon.fm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

.lintstagedrc:

{
	"**/*.ts": ["prettier --write --list-different", "prettier --check", "eslint"],
	"backend/**/*.py": ["poetry --directory ./backend run black"]
}

chore: 🔧 Refactor
  backend/src/apps/ms/artists/routers/v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/core/config.py
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/requirements.txt
Due: none

chore: 🔧 Refactor
  backend/src/core/config.py
  backend/src/core/setup.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  bun.lockb
  src/lib/api/v1.test.ts
  src/lib/schema.ts
  test-results/.last-run.json
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/api/v1.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  backend/src/apps/ms/artists/schemas.py
  src/lib/schema.ts
Due: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

chore: 🔧 Refactor
  src/lib/api/v1.test.ts
  src/lib/db/schema.ts
  src/lib/schema.ts
  src/routes/(main)/profile/+page.server.ts
  src/routes/(main)/profile/ProfileForm.svelte
  src/routes/(website)/a/[slug]/+layout.server.ts
  src/routes/(website)/a/[slug]/+page.svelte
  src/routes/(website)/a/[slug]/about/+page.svelte
  src/routes/(website)/a/[slug]/music/+page.svelte
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  src/lib/schema.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/artists/schemas.py
  src/lib/schema.ts
Due: prettier --write --list-different, prettier --check, eslint, poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/apps/ms/artists/schemas.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  README.md
  bun.lockb
  drizzle.config.ts
  package.json
  src/lib/db/index.ts
  src/lib/db/schema.ts
  src/routes/(main)/profile/+page.server.ts
Due: prettier --write --list-different, prettier --check, eslint

chore: 🔧 Refactor
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/artists/schemas.py
Due: poetry --directory ./backend run black

docs: 📚️ add docstrings
  backend/src/apps/ms/artists/routers/v1.py
  backend/src/apps/ms/artists/schemas.py
  backend/src/apps/ms/artists/tests/__init__.py
  backend/src/apps/ms/artists/tests/test_v1.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  backend/src/migrations/env.py
Due: poetry --directory ./backend run black

chore: 🔧 Refactor
  src/routes/(main)/profile/+page.server.ts
Due: prettier --write --list-different, prettier --check, eslint
